.section-head {
  position: relative;
  padding: 5.6rem 4.8rem 4.8rem 4.8rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.section-head__imgbox {
  position: absolute;
  top: -2.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.section-head__title {
  margin-bottom: 1.5rem;
}

.section-head__description {
  color: #7a7a7a;
  margin-bottom: 4rem;
}
.section-head__button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-head__backProjectBtn {
  padding: 1.7rem 4.1rem 1.9rem 4rem;
}
.section-head__bookmarkBtn {
  border-radius: 3.35rem;
  background: rgba(47, 47, 47, 0.05);
  padding: 0 2.4rem 0 0;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #7a7a7a;
}
.section-head__bookmarkBtn.active {
}
@media all and (max-width: 535px) {
  .section-head__button-box {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media all and (max-width: 412px) {
  .section-head {
    padding: 5.2rem 2.4rem 4rem 2.4rem;
  }
  .section-head__title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .section-head__description {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
@media all and (max-width: 236px) {
  .section-head__bookmarkBtn {
    padding: 0;
  }
  .section-head__bookmarkBtn .section-head__bookmarkText {
    display: none;
  }
}
